<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 - Access Denied</title>
    <style>
        body {
            background-color: #02CAA9;
            color: white;
            font-family: Arial;
            font-size: 18px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1 {
            font-size: 24px;
            text-align: center;
            color: red;
        }
    </style>
</head>
<body>
<h1>You do not have permission to access this function!</h1>
</body>
</html>
